.navBar{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navBar__logo{
    width: 100px;
    object-fit: contain;
    margin: 0px 20px;
    margin-top: 18px;
}

.navBar__search{
    display: flex;
    flex:1;
}

.navBar__searchInput{
    height: 12px;
    padding: 10px;
    border:0;
    width: 100%;
}

.navBar__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.navBar__Links{
    display: flex;
    justify-content: space-evenly;
}

.navBar__Links__Link{
    color:white;
    text-decoration: none;
}

.navBar__Links__Text{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.navBar__Links__TextLineOne{
    font-size: 10px;
}

.navBar__Links__TextLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.navBar__basket{
    display: flex;
    align-items: center;
}

.navBar__basketCount{
    margin: 0 10px;
}